@font-face {
    font-family: Lato;
    font-weight: 400;
    src: url("fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato;
    font-weight: 600;
    src: url("fonts/Lato-Semibold.ttf");
}

@font-face {
    font-family: Korataki;
    font-weight: 400;
    src: url("fonts/korataki.otf");
}

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.top-header {
    background-color: #231815;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 13.543%;;
}

.top-header__nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
}

.top-header__nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.top-header__select {
    background-color: #231815;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.top-header__select:focus {
    outline: none;
}

@media (max-width: 1600px) {
    .top-header {
        padding: 0 11.25%;
    }
}

@media (max-width: 770px) {
    .top-header {
        display: none;
    }
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFD;
    height: 80px;
    padding: 0 13.543%;;
}

.main-header__logo {
    height: 56.38px;
}

.main-header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-header__nav {
    display: flex;
    align-items: center;
}

.main-header__nav-list {
    display: flex;
    justify-content: space-between;
    width: 479px;
}

.main-header__nav-list a {
    color: #231815;
    font-weight: 600;
    text-decoration: none;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.burger-menu span {
    display: block;
    width: 23px;
    height: 2px;
    background-color: #0D0B26;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.burger-menu span:last-child {
    margin-bottom: 0;
}

.burger-menu.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.main-header__nav.active {
    display: flex;
}

@media (max-width: 1600px) {
    .main-header {
        padding: 0 11.25%;
    }
}

@media (max-width: 770px) {
    .main-header {
        padding: 0 5.73%;
    }

    .main-header__logo {
        height: 36px;
    }

    .header-actions {
        display: none;
    }

    .main-header__nav {
        display: none;
        position: absolute;
        right: 50px;
        top: 20px;
        width: 150px;
        background-color: #FFFFFF;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .main-header__nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-header__nav-list li {
        margin-bottom: 10px;
    }

    .burger-menu {
        display: block;
        z-index: 11;
    }
}

@media (max-width: 390px) {
    .main-header {
        padding: 0 9%;
    }
}

.search-form__input {
    border: 1px solid #F5F5F5;
    border-radius: 88.64px;
    width: 170px;
    height: 39px;
    padding-left: 21px;
    background-image: url('imgs/search.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: transparent;
}

.search-form__input:focus {
    outline: none;
}

@media (max-width: 1600px) {
    .search-form__input {
        border-radius: 50%;
        width: 39px;
        text-indent: -9999px;
        overflow: hidden;
        background-color: #231815;
        background-image: url('imgs/search-normal.png');
        background-position: center;
        transition: all 0.5s ease;
    }

    .search-form__input:hover {
        border: 1px solid #F5F5F5;
        border-radius: 88.64px;
        width: 170px;
        height: 39px;
        padding-left: 21px;
        background-image: url('imgs/search.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-color: transparent;
        text-indent: 0; 
    }
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #FFFFFF;
    width: 138px;
    height: 39px;
    border-radius: 100px;
    position: relative;
}

.cart-button::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('imgs/cart.png');
    background-repeat: no-repeat;
    background-position: center;
}

.cart-button__count {
    position: absolute;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 0.75rem;
    border-radius: 50%;
    padding: 2px 5px;
    line-height: 1;
    width: 18px;
    text-align: center;
    top: 3px;
    left: 38px;
}

.main {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-text {
    font-size: 1.5rem;
}

.search-results {
    margin: 60px 13.543%;
}

.search-results__title {
    color: #231815;
    font-family: "Korataki";
    font-size: 2.625rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0;
}

.card-list__card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex: 1 1 calc(25% - 30px);
    max-width: 320px;
    position: relative;
}

.card-list__card-title {
    font-size: 1.125rem;
}

.card-list__card-price {
    font-size: 1.375rem;
    font-weight: 600;
}

.card-list__card-price-sale {
    color: #E45302;
}

.card-list__card-price-sale::after {
    content: var(--original-price);
    font-size: 1.375rem;
    font-weight: 600;
    text-decoration: line-through;
    color: #808080;
    margin-left: 16px;
}

.card-list__card-image-container {
    width: 100%;
    max-height: 477px;
    position: relative;
}

.card-list__card-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.card-list__sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #231815;
    color: #FFFFFF;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    z-index: 1;
    width: 126px;
    height: 38px;
    text-align: center;
    line-height: 38px;
}

.card-list__info {
    position: absolute;
    background-color: rgba(245, 245, 245, 0.7);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 88px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-list__info-button {
    display: block;
    background-color: #E45302;
    color: #FFFFFF;
    border-radius: 100px;
    width: 258px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

@media (max-width: 1600px) {
    .search-results {
        margin: 60px 11.25%;
    }

    .card-list {
        gap: 30px;
        max-width: 1240px;
    }

    .card-list__card {
        width: 287px;
        height: 516px;
    }
}

@media (max-width: 770px) {
    .search-results__title {
        font-size: 2rem;
    }

    .search-results {
        margin: 50px 5.73%;;
    }

    .card-list {
        max-width: 680px;
        row-gap: 50px;
        column-gap: 40px;
    }

    .card-list__card {
        width: 320px;
        height: 565px;
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 390px) {
    .search-results__title {
        font-size: 1.5rem;
    }

    .search-results {
        margin: 40px 9%;
    }

    .card-list {
        max-width: 320px;
        row-gap: 30px;
        column-gap: 10px;
    }

    .card-list__card {
        width: 155px;
        height: 320px;
    }

    .card-list__info {
        display: none;
    }

    .card-list__sale {
        font-size: 0.875rem;
        width: 70px;
        height: 24px;
        text-align: center;
        line-height: 24px;
    }

    .card-list__card-title {
        font-size: 1rem;
    }
    
    .card-list__card-price {
        font-size: 0.875rem;
        font-weight: 600;
    }
    
    .card-list__card-price-sale {
        color: #E45302;
    }
    
    .card-list__card-price-sale::after {
        font-size: 0.875rem;
    }
}

.footer {
    background-color: #0C0C0C;
    color: #FFFFFF;
    padding: 60px 13.543%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer__branding {
    color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 322px;
}

.footer__branding-logo {
    width: 239px;
}

.footer__branding-recaptcha a {
    color: #808080;
    text-decoration: underline;
}

.footer__contact-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__address h3,
.footer__contacts h3,
.footer__nav h3  {
    margin: 0px;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer__address p,
.footer__contacts p {
    color: #F5F5F5;
    font-style: normal;
}

.footer__contacts a {
    color: #F5F5F5;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0px;
}

.footer__nav-list a {
    color: #F5F5F5;
    font-size: 1rem;
}

.footer__legal-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
}

.footer__legal-area a {
    color: #808080;
    font-size: 1rem;
}

.footer__legal-payment {
    margin-top: 50px;
}

@media (max-width: 1600px) {
    .footer {
        padding: 60px 11.25%;
    }
}

@media (max-width: 770px) {
    .footer {
        min-height: 521px;
        padding: 0;
    }

    .footer-container {
        padding: 50px 0;
        margin: 0 5.73%;;
        position: relative;
    }

    .footer__branding-logo {
        width: 180px;

    }

    .footer__contact-group {
        flex-direction: row;
        position: absolute;
        gap: 40px;
        top: 130px;
    }

    .footer__address {
        width: 210px;
    }

    .footer__nav {
        position: absolute;
        top: 130px;
        right: 0;
    }

    .footer__nav {
        height: 238px;
    }

    .footer__legal-area {
        position: absolute;
        top: 262px;
        align-items: flex-start;
    }

    .footer__branding-recaptcha {
        position: absolute;
        display: block;
        margin: 0;
        top: 408px;
        left: 300px;
        max-width: 382px;
    }

    .footer__legal-payment {
        margin-top: 80px;
    }
}

@media (max-width: 390px) {
    .footer {
        min-height: 867px;
    }

    .footer-container {
        margin: 0 9%;
        padding: 40px 0;
    }

    .footer__contact-group {
        flex-direction: column;
        gap: 15px;
    }

    .footer__nav {
        position: absolute;
        top: 338px;
        gap: 20px;
        justify-content: space-between;
        left: 0;
        height: 198px;
    }

    .footer__nav-list {
        margin: 0;
        gap: 20px;
    }

    .footer__legal-area {
        position: absolute;
        top: 590px;
        align-items: flex-start;
    }

    .footer__branding-recaptcha {
        position: absolute;
        display: block;
        height: 84px;
        margin: 0;
        top: 745px;
        left: 0;
    }

    .footer__legal-payment {
        margin-top: 25px;
        left: 0;
    }
}